extends ../layout.jade
block content
	.container
		.row
			table.table.table-hover.table-bordered
				thead
					tr
						th Movie Name
						th Director
						th Country
						th Release Year
						th Entry Time
						th Check
						th Update
						th Delete
				tbody
					each item in movies
						tr(class="item-id-#{item._id}")
							td #{item.name}
							td #{item.director}
							td #{item.country}
							td #{item.year}
							td #{moment(item.meta.createAt).format("MM/DD/YYYY")}
							td: a(href="../movie/#{item._id}",target="_blank") View
							td: a(href="../admin/update/#{item._id}") Change
							td
								button.btn.btn-danger.del(type="button", data-id="#{item._id}") delete